<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378673515174-3usj6fdt3bft4nmgni7ahgk2r2hi6r0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378673515174-3usj6fdt3bft4nmgni7ahgk2r2hi6r0q</string>
	<key>API_KEY</key>
	<string>AIzaSyBrERyZX5sW1ztT4ZsusS2KFVrBEyDIuEg</string>
	<key>GCM_SENDER_ID</key>
	<string>378673515174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.platform.app</string>
	<key>PROJECT_ID</key>
	<string>platformdev-d2b53</string>
	<key>STORAGE_BUCKET</key>
	<string>platformdev-d2b53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378673515174:ios:e479b2bca1a8d457668267</string>
</dict>
</plist>